{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"sourceType": "module",
		"allowImportExportEverywhere": true
	},
	"extends": [
		"airbnb",
		"plugin:@typescript-eslint/recommended",
		"plugin:react/recommended",
		"prettier/@typescript-eslint",
		"prettier/react"
	],
	"env": {
		"browser": true,
		"node": true
	},
	"rules": {
		"@typescript-eslint/explicit-function-return-type": "off",
		"no-tabs": 0,
		"no-multi-spaces": 0,
		"react/prop-types": "off",
		"arrow-parens": ["off"],
		"compat/compat": "error",
		"consistent-return": "off",
		"comma-dangle": "off",
		"generator-star-spacing": "off",
		"import/no-unresolved": "error",
		"import/no-extraneous-dependencies": "off",
		"no-console": "off",
		"no-use-before-define": "off",
		"no-multi-assign": "off",
		"promise/param-names": "error",
		"promise/always-return": "error",
		"promise/catch-or-return": "error",
		"promise/no-native": "off",
		"react-hooks/rules-of-hooks": "error",
		"react/sort-comp": [
			"error",
			{
				"order": [
					"type-annotations",
					"static-methods",
					"lifecycle",
					"everything-else",
					"render"
				]
			}
		],
		"react/jsx-filename-extension": [
			"error",
			{ "extensions": [".js", ".jsx", ".tsx"] }
		]
	},
	"plugins": [
		"@typescript-eslint",
		"import",
		"promise",
		"compat",
		"react",
		"react-hooks"
	],
	"settings": {
		"import/resolver": {
			"webpack": {
				"config": "configs/webpack.config.eslint.js"
			}
		}
	}
}
